<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+ new location</title>
    <link rel="stylesheet" href="../../static/css/styles.css">

</head>

<body>
    <h1>+ new location</h1>
    <form id="dataForm">

        <div class="form-row-no-button">
            <label for="location_enabled_select">Enabled:</label>
            <select id="location_enabled_select">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>

        <div class="form-row-no-button">
            <label for="location_name_input">Name: (name)</label>
            <input type="text" id="location_name_input" name="location_name_input">
        </div>

        <div class="form-row-no-button">
            <label for="location_group_input">Group:</label>
            <select id="location_group_input" name="location_group_input">
                <option value="">- select group -</option>
                {% for group in groups %}
                <option value="{{ group['group_number'] }}">{{ group['group_name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <label for="location_coordinates_input">Coordinates: (lat, long)</label>
        <input type="text" id="location_coordinates_input" name="location_coordinates_input">
        <button type="button" onclick="pasteLocation('location_coordinates_input')">paste</button>

        <label for="currents_coordinates_input">Currents: (lat, long)
            <span id="currents_ok_sign"></span>
        </label>

        <input type="text" id="currents_coordinates_input" name="currents_coordinates_input">

        <button type="button" onclick="checkCurrents('currents_coordinates_input')">paste and check</button>

        <div class="form-row-no-button">
            <label for="location_exposure_range_a_input">Exposure range A: (0-359)</label>
            <input type="number" id="location_exposure_range_a_input" name="location_exposure_range_a_input">
        </div>

        <div class="form-row-no-button">
            <label for="location_exposure_range_b_input">Exposure range B: (0-359)</label>
            <input type="number" id="location_exposure_range_b_input" name="location_exposure_range_b_input">
        </div>

        <div class="form-row-no-button">
            <label for="refresh_rate_input">Refresh rate: (1-24)</label>
            <input type="number" id="refresh_rate_input" name="refresh_rate_input" value="6">
        </div>

        <button type="button" onclick="submitData()">Submit</button>

    </form>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>